<!DOCTYPE html>
<html>
<head>
  <title>Sportal</title>
</head>
  <body>
      <h1>Sportal</h1>
      <a href="/pickups">Find a pickup game</a>
      <a href="/leagues">Find a league</a>
  </body>
</html>
