<!DOCTYPE html>
<html>
<head>
  <title>Sportal</title>
  <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
</head>
  <body>
      <div class="container">
          <img id="sportal_logo" src="/images/Sportal.png" alt="" /><br>
          <a id="pickup_link" class="btn home_links" href="/pickups">Find a pickup game</a>
          <a id="league_link" class="btn home_links" href="/leagues">Find a league</a>
      </div>
  </body>
</html>
